@(guessForm: Form[Int], model: models.NumguessModel)

@import helper._
@import play.api.i18n.Messages.{apply => message}

@main(message("global.title") + " " + message("wrong.title")) {
	<h1>@message("wrong.heading")</h1>
	<p>@message("wrong.message")</p>
	@if(model.comparison < 0) {
		@message("wrong.higher")
	} else {
	    @message("wrong.lower")
	}
	@message("wrong.numguesses", model.numGuesses)</p>
	@form(action = routes.Application.guess()) {
   		@inputText(guessForm("value"), 'label -> message("prompt.guess"))
	}
}
